.section-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, minmax(200px, auto));
  gap: $spacer;
  grid-template-areas:
    "portrait landscape-one copy"
    "portrait landscape-two copy";

  margin-bottom: 4rem;

  .portrait {
    grid-area: portrait;
  }
  .landscape-one {
    grid-area: landscape-one;
  }
  .landscape-two {
    grid-area: landscape-two;
  }
  .landscape-one,
  .landscape-two {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .copy {
    grid-area: copy;

    .primary {
      margin-bottom: 2rem;
      font-weight: 300;

      &__heading {
        margin-bottom: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 300;
        text-decoration: underline;
      }
      &__content {
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }
    .supplementary {
      &__heading {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: $red;
        text-transform: uppercase;
      }
      &__content {
        font-weight: bold;
        line-height: 1.5;
      }
    }
  }
}
