$light: #f8f8f8;
$dark: #0e1414;
$red: #cf1430;

$font-size: 1rem;
$spacer: 1rem;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

$containers: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
